<section class="block block--cta {{ alignment }} {{ defaults }}">
  {{ title_prefix }}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}
  {{ title_suffix }}

  {{ body }}

  <div class="block--cta__links">
    {{ links }}
  </div>
</section>
