{#
/**
 * @file
 * Theme override to display a block -- slideshow.
 *
 */
#}
{%
  set classes = [
    'slideshow',
  ]
%}

{{ attach_library('duo_foundation/slick') }}

<section{{ attributes.addClass(classes) }}>
  
  {{ title_prefix }}
  {% if label %}
    <h2 {{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}

  {% if content.field_slideshow_thumbnails['#items'].value == '1' %}

    {# Main slideshow  #}
    <div class="slick-hero">
      {{ content|without('field_slideshow_thumbnails') }}
    </div>

    {# Thumbnail navigation #}
    <div class="slick-hero-nav-thumbnails">
      {{ content|without('field_slideshow_thumbnails') }}
    </div>

  {% else %}

    {# Main slideshow  #}
    <div class="slick-with-dots">
      {{ content|without('field_slideshow_thumbnails') }}
    </div>

  {% endif %}

  {% endblock %}

</section>
